div.aboutme-container
    div.content-box
        div.content
            div.title Wings Denzel
            div.draft-t Software Engineer
            div.info
                div.avatar
                    img(disableLazy, src="/images/avatar.svg")
                div.desc 
                    div.sub-title 简介
                    span 97年生人，毕业于苏州大学软件工程。至今仍在苏州工作，从事前端开发，热衷于富有视觉艺术的网页。
                    br
                    span 对新鲜的事物充满热情，喜欢刨根究底。
                    div.sub-title 爱好
                    span 弹吉他
                    br
                    span JDM
                    br
                    span 玩游戏       
    div#picture
        div#bg
        img#top-cloud1(disableLazy , src="/assets/aboutme/top-cloud1.png")
        img#top-cloud2(disableLazy , src="/assets/aboutme/top-cloud2.png")
        img#pole(disableLazy , src="/assets/aboutme/pole.png")
        img#land(disableLazy , src="/assets/aboutme/land.png")
        img#leaf1(disableLazy , src="/assets/aboutme/leaf1.png")
        img#cloud1(disableLazy , src="/assets/aboutme/cloud1.png")
        img#sf1(disableLazy , src="/assets/aboutme/sf1.png")
        img#sf2(disableLazy , src="/assets/aboutme/sf2.png")
        img#sf3(disableLazy , src="/assets/aboutme/sf3.png")


script(data-pjax src="/assets/aboutme/index.js")
link(rel="stylesheet" href="/assets/aboutme/style.css" )
