---
title: 关于我
date: 2023-02-19 10:56:19
top_img: /images/banner/2.png
---

link(rel="stylesheet", href="/assets/aboutme/style.css")
.aboutme-container
  .content-box
    .content
      .title Wings Denzel
      .draft-t Software Engineer
      .info
        .avatar
          img(disableLazy, src="/images/avatar.png")
        .desc
          .sub-title 简介
          .para 97年生人，毕业于苏州大学软件工程。至今仍在苏州工作，从事前端开发，热衷于富有视觉艺术的网页。
          .para 对新鲜的事物充满热情，喜欢刨根究底。
          .sub-title 爱好
          .para 弹吉他
          .para JDM
          .para 玩游戏
  #picture
    #bg
    img#top-cloud1(disableLazy, src="/assets/aboutme/top-cloud1.png")
    img#top-cloud2(disableLazy, src="/assets/aboutme/top-cloud2.png")
    img#pole(disableLazy, src="/assets/aboutme/pole.png")
    img#land(disableLazy, src="/assets/aboutme/land.png")
    img#leaf1(disableLazy, src="/assets/aboutme/leaf1.png")
    img#cloud1(disableLazy, src="/assets/aboutme/cloud1.png")
    img#sf1(disableLazy, src="/assets/aboutme/sf1.png")
    img#sf2(disableLazy, src="/assets/aboutme/sf2.png")
    img#sf3(disableLazy, src="/assets/aboutme/sf3.png")

script(data-pjax, src="/assets/aboutme/index.js")
