.page-main-content-middle
  .page-template-container
    margin-bottom 0
.page-template-container
  padding 0 !important
.aboutme-container
  overflow hidden
  min-height 50vw
  position relative
  .content-box
    position relative
    z-index 3
    background rgba(255, 255, 255, 0.301)
    padding 2vw
    color #001f76
    backdrop-filter blur(2px)
    margin 10vw 2vw 20vw 2vw
    border-radius 12px
    .content
      width 100%
      .title
        color #0086d5
        line-height 1
        font-family 'Babylonica'
        font-size 3vw
        font-weight bold
        margin-bottom 0.5vw
      .draft-t
        line-height 1
        font-size 1.5vw
        font-family fantasy
        margin-bottom 1.5vw
      .info
        display flex
        .avatar
          width 6.5vw
          height 6.5vw
          background #fff
          border-radius 50%
          overflow hidden
          flex-shrink 0
          img
            margin 0 !important
            width 100%
        .desc
          margin-left 1vw
          .sub-title
            font-weight bold
            line-height 1
            font-size 2vw
            margin 1.3vw 0
          .para
            font-size 1vw
            line-height 1.3vw
            margin-bottom 0.3vw
  div#picture
    position absolute
    border-radius 18px
    overflow hidden
    z-index 2
    inset 0
    img
      margin 0
      max-width unset
      pointer-events none
    #bg
      position absolute
      background linear-gradient(180deg, rgb(45, 98, 209), rgb(126, 208, 245) 75%)
      inset 0
      z-index 0
    #top-cloud1
      position absolute
      top 0
      left -4%
      width 63%
      z-index 4
    #top-cloud2
      position absolute
      top 0
      right -4%
      width 32%
      z-index 4
    #land
      position absolute
      bottom 0
      left 0
      width 110%
      z-index 5
    #pole
      position absolute
      bottom -3%
      left 0
      width 130%
      z-index 4
    #cloud1
      position absolute
      bottom 0
      left 16%
      width 53%
      z-index 3
    #leaf1
      position absolute
      bottom 0
      left 53%
      width 10%
      z-index 6
    #sf1
      position absolute
      bottom 0
      left 58%
      width 13%
      z-index 6
    #sf2
      position absolute
      bottom 0
      left 66%
      width 17%
      z-index 7
    #sf3
      position absolute
      bottom 0
      left 63%
      width 40%
      z-index 8
