@import "common/basic.styl"
@import "common/markdown.styl"
@import "common/codeblock/highlight.styl"
@import "common/codeblock/code-block.styl"
@import "common/codeblock/code-theme.styl"
@import "layout/page.styl"
@import "layout/_partials/local-search.styl"
@import "layout/_partials/toc.styl"
@import "layout/_partials/comments/comment.styl"
@import "layout/_partials/progress-bar.styl"
@import "layout/_partials/menu.styl"
@import "layout/_partials/post-tools.styl"
@import "layout/_partials/side-tools.styl"
@import "layout/_partials/archive-list.styl"
@import "layout/_partials/footer.styl"
@import "layout/_partials/paginator.styl"
@import "layout/_partials/page-template.styl"
@import "layout/_partials/first-screen.styl"
@import "layout/_partials/image-viewer.styl"
@import "layout/category-list.styl"
@import "layout/_partials/article-meta-info.styl"
@import "layout/_partials/article-copyright-info.styl"
@import "layout/home-content.styl"
@import "layout/archive-content.styl"
@import "layout/article-content.styl"
@import "layout/category-content.styl"
@import "layout/tag-content.styl"
@import "layout/_partials/tagcloud.styl"
@import "layout/_partials/404.styl"
// modules
@import "layout/_modules/notes.styl"
@import "layout/_modules/folding.styl"
@import "layout/_modules/buttons.styl"
@import "layout/_modules/tabs.styl"

// custumize
.shy-block {
    mix-blend-mode difference
    background #fff
    color #fff
    &:hover{
        color #000
    }
}

@keyframes shining {
  from {
    text-shadow: 0 0 6px rgba(182, 211, 207, 0.9),
      0 0 30px rgba(182, 211, 207, 0.3), 0 0 12px rgba(15, 115, 223, 0.5),
      0 0 21px rgba(15, 115, 223, 0.9), 0 0 34px rgba(15, 115, 223, 0.8),
      0 0 54px rgba(15, 115, 223, 0.9);
  }
  to {
    text-shadow: 0 0 6px rgba(182, 211, 207, 1),
      0 0 30px rgba(182, 211, 207, 0.4), 0 0 12px rgba(15, 115, 223, 0.6),
      0 0 22px rgba(15, 115, 223, 0.8), 0 0 38px rgba(15, 115, 223, 0.9),
      0 0 60px rgba(15, 115, 223, 1);
  }
}

.message-container {
    background: #fff;
    padding: 10px;
    width: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 1rem;
    border-radius: 8px;

    .bubble-container {
        display: flex;
        margin: 10px;
        .avatar {
            width: 40px;
            height: 40px;
            flex-shrink: 0;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-content: center;
            justify-content: center;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &.me {
            flex-direction: row-reverse;
            .bubble-box {
                --bubble-c: rgb(106, 241, 119);
                color: #000!important;
                >* {
                    color: #000!important;
                }
                &::after {
                    content: " ";
                    position: absolute;
                    width: 0;
                    height: 0;
                    /* 箭头靠右边 */
                    top: 10px;
                    right: -5px;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-left: 5px solid var(--bubble-c);
                }
            }
        }

        &.you {
            flex-direction: row;
            .bubble-box {
                color: #000!important;
                --bubble-c: rgb(228, 228, 228);
                >* {
                    color: #000!important;
                }
                &::after {
                content: " ";
                position: absolute;
                width: 0;
                height: 0;
                /* 箭头靠右边 */
                top: 10px;
                left: -5px;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-right: 5px solid var(--bubble-c);
                }
            }
        }

        .message {
            margin: 5px 10px;
            max-width: 60%;

            .bubble-box {
                padding: 8px;
                background: var(--bubble-c);
                text-align: left;
                border-radius: 4px;
                position: relative;
                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                margin: 0;
                overflow: visible;
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
}